/* HEADER */
header {
   background-color: rgba(26, 27, 28, 0.851);
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 50px;
}
header img {
   width: 60px;
}
header nav {
   display: flex;
}
header li {
   margin: 0 15px;
}
header li:first-child {
   margin-left: 0;
}
header li:last-child {
   margin-right: 0;
}
header li a {
   color: #F0F0F0;
   text-transform: uppercase;
   font-size: 14px;
}
@media (max-width: 700px) {
   header {
      flex-direction: column;
   }
   header nav {
      margin-top: 15px;
   }
}

/* HERO */
.hero {
   background-image: url(../images/hero.jpg);
   background-size: cover;
   min-height: 100vh;
   color: #F0F0F0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
.hero h1 {
   font-size: 3.8rem;
   margin-bottom: 5px;
   font-weight: 300;
   text-transform: uppercase;
}
.hero h3 {
   font-size: 2rem;   
   color: #dfdfdf;
   margin-bottom: 15px;
   font-weight: normal;
}
.hero .btn {
   background-color: rgba(26, 27, 28, 0.851);
   border-radius: 4px;
   color: #F0F0F0;
   padding: 15px 30px;
   margin-top: 20px;
   text-transform: uppercase;
}
@media (max-width: 700px) {
   .hero {
      background-position: center;
   }
   .hero h1 {
      padding: 0 20px;
      font-size: 2.5rem;
   }
   .hero h3 {
      padding: 0 20px;
      font-size: 1.4rem;
   }
}

/* Infos */
.infos {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: rgb(204, 204, 204);
   min-height: 100vh;
}
.infos .colors {
   width: 100%;
   height: 5px;
   border: 0;
   margin-bottom: 45px;
   background: linear-gradient(to right, rgba(39,33,204,1) 0%, rgba(93,211,240,1) 20%, rgba(187,12,245,1) 48%, rgba(24,240,125,1) 68%, rgba(39,33,204,1) 100%);
}
.infos h3 {
   color: rgb(240, 240, 240);
   font-size: 2.8rem;
   font-weight: 400;
   margin-bottom: 20px;
   text-transform: uppercase;
}
.infos p {
   font-size: 1.5rem;
   text-align: center;
}
.infos .separador {
   width: 400px;
   height: 3px;
   margin-top: 20px;
   opacity: 0.8;
   background-color: #F0F0F0;
}
.infos .imagens {
   display: none;
   font-size: 1.6rem;
   margin-top: 30px;
   text-transform: capitalize;
   color: #b9b9b9;
}
.infos .grid {
   width: 95%;
   margin-top: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}
.infos .grid li {
   height: 420px;
   border: solid 2px #5A25A4;
   border-radius: 4px;
   opacity: 0.9;
   background-clip: content-box;
   background-size: cover;
   background-position: center;
}
.infos .grid li.small {
   flex-basis: 20%;
}
.infos .grid li.large {
   flex-basis: 50%;
}
@media (max-width: 700px) {
   .infos h3 { font-size: 2.2rem; }
   .infos p { font-size: 1.2rem; text-align: left; max-width: 280px; }
   .infos .imagens { display: flex; }
   .infos .grid { margin-top: 10px; }
   .infos .grid li { margin: 10px 0; border-width: 1.5px; border-radius: 2px; }
   .infos .grid li.small { height: 300px; flex-basis: 90%; } 
   .infos .grid li.large { height: 200px; flex-basis: 90%; }
   .infos .separador {width: 280px;}
}